.cart-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-icon {
  width: 24px;
  height: 24px;
  /* color: #c2185b; Removido pois não se aplica a uma imagem */
}

.item-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #c2185b; /* Cor rosa */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
