/* src/components/Footer/Footer.css */
.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  text-align: left; /* Alinha todo o texto à esquerda */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 20px;
}

.footer-column h3,
.footer-column h4 {
  margin-bottom: 20px;
}

.footer-column p {
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column .social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 20px;
}

.footer-bottom p {
  margin: 0;
}

.footer .fab {
  font-family: 'Font Awesome 5 Brands';
}
