.home-container {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #c2185b;
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.auth-buttons button {
  background-color: #c2185b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.auth-buttons button:hover {
  background-color: #a0104a;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 4px 2px -2px gray;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.navbar a:hover {
  color: #c2185b;
}

.promo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-top: 20px;
}

.promo-text {
  max-width: 50%;
  text-align: left; /* Alinhar texto à esquerda */
}

.promo-text h2 {
  color: #f39c12;
  font-weight: normal;
}

.promo-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}

.promo-text p {
  color: #888;
  margin: 20px 0;
}

.promo-text button {
  background-color: #c2185b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.promo-text button:hover {
  background-color: #a0104a;
}

.promo-image {
  margin-left: 40px;
}

.promo-image img {
  max-width: 100%;
  border-radius: 10px;
}
